@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem; // 15px
  line-height: 1.5625rem; //25px
  color: $dark-blue;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 10rem;
}

.h1-l {
  font-size: 12.5rem; //200px
  line-height: 12.5rem;
  letter-spacing: 5px;
  font-weight: 700;
}

h1 {
  font-size: 5rem; //80px
  line-height: 5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem; //56px
  letter-spacing: 2px;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 700;
}

.btn-dark {
  display: inline-block;
  background: $dark-blue;
  color: white;
  padding: 1.5rem 2rem;

  &:hover {
    background: $md-grey;
  }

  &:focus {
    background: $light-grey;
  }
}

.btn-light {
  display: inline-block;
  background: white;
  color: $dark-blue;
  padding: 1.75rem 1rem;

  &:hover {
    background: $lighter-grey;
  }

  &:focus {
    background: $dark-blue;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:focus {
  text-decoration: none;
}

.text-dark {
  color: $dark-blue;
}

.text-white {
  color: white;
}

.text-light {
  color: $md-grey;
}

.text-lighter {
  color: $light-grey;
}

.text-grey {
  color: $dark-grey;
}

.img-overlay-static {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: $dark-blue, $alpha: 0.5);
    right: 0;
    top: 0;
  }
}

.img-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: $dark-blue, $alpha: 0.5);
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 0.5s;
  }

  &:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 991.98px) {
  /* Globals */

  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 45rem;
    padding: 0 2.5rem;
  }
  .container-md-fluid {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

@media (max-width: 575.98px) {
  /*  globals */
  .container {
    max-width: 100% !important;
    padding: 0 2rem !important;
  }

  .container-sm-fluid {
    max-width: 100% !important;
    padding: 0 !important;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 600 !important;
    line-height: 3rem;
  }
}
