@media (max-width: 991.98px) {
  .hero {
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 3.5rem;

      p {
        margin-bottom: 4.25rem;
      }
    }
    .slide__indicator {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .container-sm-fluid {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .hero {
    overflow-x: hidden;
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 0 1rem;

      h2 {
        font-size: 2.25rem;
      }

      p {
        margin-bottom: 4.25rem;
      }
    }
    .slide__indicator {
      display: none;
    }
  }
}
