@import "variables";
@import "globals";
@import "mixins";
@import "header";
@import "footer";

.hero {
  position: relative;
  margin-bottom: $m-l;

  &__text {
    position: absolute;
    top: 50%;
    left: 11.5rem;
    transform: translateY(-50%);

    h3 {
      margin-bottom: 4.25rem;
    }
  }
  .slide__indicator {
    position: absolute;
    bottom: 0;
    left: -4.3rem;
    display: flex;

    &__btn {
      padding: 1.5rem 2rem;
      display: block;
    }

    .indicator-active {
      background: $dark-blue !important;
      color: white;
    }
  }
}

/* Display section */
.display {
  margin: $m-l 0;
  &__content {
    &__heading {
      z-index: 5;
      align-self: flex-start;
    }

    &__text {
      padding-right: 7rem;
      z-index: 10;
    }
  }
}
/* end Display section */

/* team section */
.team {
  margin: $m-l 0;
  position: relative;
  &__text {
    position: absolute;
    top: 50%;
    left: 11.5rem;
    transform: translateY(-50%);
  }
}
/* end team section */

/* features section */
.features {
  margin: $m-l 0;

  &__content {
    position: relative;

    &__desc {
      margin-top: 2.5rem;
    }
  }

  .desc__image {
    position: relative;

    .feature__no {
      position: absolute;
      top: 10%;
      right: 5%;
    }

    .feature__detail {
      position: absolute;
      bottom: 5%;
      left: 10%;

      a:hover {
        color: $md-grey;
      }
    }
  }
  .featured__btn {
    position: absolute;
    top: 0;
    right: 3.5%;
  }
}
/* end features section */

@import "main-responsive";
